<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>StudyAI</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

  <div class="header">
    <header>
      <h1>StudyAI</h1>
    </header>
  </div>

  <div class="container">

    <p>
      Welcome to StudyAI, an AI chatbot for practicing everyday life situations in a foreign language.<br>
      This website is a demo website which uses autotranslation. Therefore some languages might work better than others!
    </p>

    <ol>
      How to use:
      <li>Select the language that you want to practice.
        The chatbot will talk to you in the selected language.</li>
      <li>Select a scenario that you want to practice.</li>
      <li>Press "Talk to me" to initiate the conversation or press "Start over" to delete the current conversation.
        The chatbot will forget everything that was talked before.</li>
      <li>If you change the language or the sceario via the dropdown menu, the current conversation will be resettet.
      </li>
    </ol>

    <div class="dropdown-container">
      <div class="dropdown">
        <label for="language-dropdown">Language:</label>
        <select id="language-dropdown" onchange="languageChange()">
          <option value="English">English</option>
          <option value="French">French</option>
          <option value="German">German</option>
          <option value="Spanish">Spanish</option>
          <option value="Vietnamese">Vietnamese</option>
        </select>
      </div>

      <div class="dropdown">
        <label for="scenario-dropdown">Scenario:</label>
        <select id="scenario-dropdown" onchange="scenarioChange()">
          <option value="Delivery">Delivery</option>
          <option value="Pizza">Pizza</option>
        </select>
      </div>
    </div>

    <div class="chat-container">
      <textarea id="textArea" readonly></textarea>

      <input type="text" id="textField" placeholder="Enter your text">
    </div>

    <div class="button-container">
      <button id="sendButton" onclick="sendRequest()">Talk to me</button>
      <button id="resetButton" onclick="resetRequest()">Start over</button>
    </div>
  </div>

  <script>

    var textField = document.getElementById("textField");
    var selectedLanguage = document.getElementById("language-dropdown").value;
    var selectedScenario = document.getElementById("scenario-dropdown").value;

    // Listen for the "keydown" event on the input field
    textField.addEventListener('keydown', function (event) {
      // Check if the pressed key is the "Enter" key
      if (event.key === 'Enter') {
        // Activate the button
        sendButton.click();
      }
    });

    // Disable textfield, until conversation has been started
    textField.disabled = true;

    textField.addEventListener('input', function () {
      if (textField.value.trim() === '') {
        sendButton.disabled = true;
      } else {
        sendButton.disabled = false;
      }
    });

    function languageChange() {
      selectedLanguage = document.getElementById("language-dropdown").value;
      resetRequest();
    }

    function scenarioChange() {
      selectedScenario = document.getElementById("scenario-dropdown").value;
      resetRequest();
    }

    function sendRequest() {
      var textArea = document.getElementById("textArea");
      var sendButton = document.getElementById("sendButton");

      // Enable text field input, after conversation has been started
      textField.disabled = false

      // Disable the send button after klicking
      sendButton.disabled = true;

      // Get the content from the text field
      var content = textField.value;

      // Copy the content to the text area if content is not empty
      if (content !== "") {
        textArea.value += "User: " + content + "\n";
      }

      // Set url
      const endpoint = "/api/v1/chat"

      // Create an HTTP request
      var xhr = new XMLHttpRequest();

      // Set the request parameters
      var params = "role=user&content=" + encodeURIComponent(content) + "&language=" + selectedLanguage + "&scenario=" + selectedScenario;

      // Configure the request
      xhr.open("POST", endpoint, true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      // Handle the response from the server
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {

          if (xhr.status === 200) {
            // In case of successful request/response
            // Append the response to the text area
            var response = JSON.parse(xhr.responseText);
            textArea.value += response.role + ": " + response.content + "\n";
          }
          else {
            console.error("unsuccessful request: " + xhr.status)
            var response = JSON.parse(xhr.responseText);
            textArea.value += response.content + ": " + xhr.status + "\n";
          }
        }
      };

      // Send the request
      xhr.send(params);

      // Clear the text field
      textField.value = "";
    }

    // sends a request to delete the current conversation/content on the server session
    // deletes the text area
    function resetRequest() {

      // Disable the send button after klicking
      sendButton.disabled = true;

      // Disable text field input, until start button has been hit
      textField.disabled = true

      // Disable the button after klicking
      resetButton.disabled = true;

      // Set url
      const endpoint = "/api/v1/resetsession";

      // Create an HTTP request
      // Configure the request
      var xhr = new XMLHttpRequest();
      xhr.open("GET", endpoint, true);

      // Handle the response from the server
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Re-enable the reset button
          resetButton.disabled = false;
          // Re-enable the send button after klicking
          sendButton.disabled = false;

          if (xhr.status === 200) {
            // In case of successful request/response
            // Delete the content of text area
            textArea.value = "";
          }
          else {
            console.error("unsuccessful request: " + xhr.status)
          }
        }
      };

      // Send the request
      xhr.send();

      // Clear the text field
      textField.value = "";
    }
  </script>
</body>

</html>