<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>StudyAI</title>
  <link rel="stylesheet" href="styles.css">

</head>

<body>

  <div class="container">

    <header>
      <h1>StudyAI</h1>
    </header>

    <p>
      Welcome to StudyAI, an AI chatbot for practicing everyday life situations in a foreign language.<br>
      This website is a demo website which uses autotranslation. Therefore some languages might work better than others!
    </p>

    <ol>
      How to use:
      <li>Select the language that you want to practice.
        The chatbot will talk to you in the selected language.</li>
      <li>Select a scenario that you want to practice.</li>
      <li>Press "Talk to me" to initiate the conversation or press "Start over" to delete the current conversation.
        The chatbot will forget everything that was talked before.</li>
      <li>If you change the language or the sceario via the dropdown menu, the current conversation will be resettet.</li>
    </ol>

    <div class="dropdown-container">
      <div class="dropdown">
        <label for="language-dropdown">Language:</label>
        <select id="language-dropdown" onchange="languageChange()">
          <option value="english">English</option>
          <option value="german">German</option>
          <option value="french">French</option>
          <option value="spanish">Spanish</option>
        </select>
      </div>

      <div class="dropdown">
        <label for="scenario-dropdown">Scenario:</label>
        <select id="scenario-dropdown" onchange="scenarioChange()">
          <option value="delivery">Delivery</option>
          <option value="pizza">Pizza</option>
        </select>
      </div>
    </div>

    <div class="chat-container">
      <textarea id="textArea" readonly></textarea>

      <input type="text" id="textField" placeholder="Enter your text">
    </div>

    <div class="button-container">
      <button id="sendButton" onclick="sendRequest()">Talk to me</button>
      <button id="resetButton" onclick="resetRequest()">Start over</button>
    </div>
  </div>

  <script>

    var selectedLanguage = document.getElementById("language-dropdown").value
    var selectedScenario = document.getElementById("scenario-dropdown").value;

    function languageChange() {
      selectedLanguage = document.getElementById("language-dropdown").value;
      // Call function or perform desired actions with selectedLanguage
      console.log("Selected language:", selectedLanguage);
      resetRequest()
    }

    function scenarioChange() {
      selectedScenario = document.getElementById("scenario-dropdown").value;
      // Set variable or perform desired actions with selectedScenario
      console.log("Selected scenario:", selectedScenario);
      resetRequest()
    }

    function sendRequest() {
      console.log("SEND triggered")
      var textField = document.getElementById("textField");
      var textArea = document.getElementById("textArea");
      var sendButton = document.getElementById("sendButton");

      // Disable the button after klicking
      sendButton.disabled = true;

      // Get the content from the text field
      var content = textField.value;

      // Copy the content to the text area
      textArea.value += "User: " + content + "\n";

      //console.log(selectedLanguage, selectedScenario, textArea.value);

      // Set url
      url = "http://studyai.us-east-1.elasticbeanstalk.com/api/v1/chat"

      // Create an HTTP request
      var xhr = new XMLHttpRequest();

      // Set the request parameters
      var params = "role=user&content=" + encodeURIComponent(content) + "&language=" + selectedLanguage + "&scenario=" + selectedScenario;

      // Configure the request
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      // Send the request
      xhr.send(params);

      // Handle the response from the server
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Re-enable the button
          sendButton.disabled = false;

          if (xhr.status === 200) {
            // In case of successful request/response
            // Append the response to the text area
            var response = JSON.parse(xhr.responseText);
            textArea.value += response.content + "\n";
          }
          else {
            // At the moment no difference to "200" response
            var response = JSON.parse(xhr.responseText);
            textArea.value += response.content + "\n";
          }
        }
      };

      // Clear the text field
      textField.value = "";
    }

    // sends a request to delete the current conversation/content on the server session
    // deletes the text area
    function resetRequest() {
      console.log("RESET triggered")

      // Disable the button after klicking
      resetButton.disabled = true;

      // Create an HTTP request
      var xhr = new XMLHttpRequest();

      // Set url
      var url = "http://studyai.us-east-1.elasticbeanstalk.com/api/v1/resetsession";

      // Configure the request
      xhr.open("GET", url, true);

      // Send the request
      xhr.send();

      // Handle the response from the server
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          // Re-enable the button
          resetButton.disabled = false;

          if (xhr.status === 200 || true) { //true for debugging
            // In case of successful request/response
            // Delete the content of text area
            textArea.value = "";
          }
          else {
            // handle unsuccesfull response
          }
        }
      }

      // Clear the text field
      textField.value = "";
    }
  </script>
</body>

</html>